header {
  background-color: #3c56ec;
  color: white;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  margin: 20px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  /* border-bottom: 1px solid #ddd; */
}

#home {
  background-image: url(/src/assets/images/cancerImage.jpg);
  background-size: cover;
  display: grid;
  justify-content: end;
  align-items: center;
  justify-items: end;
  height: 90vh;
  color: aliceblue;
  filter: brightness(0.7);
}

#home h1,
.home-content {
  padding: 1rem;
  text-align: right;
  color: lime;
  margin-left: 50rem;
}

.MuiGrid-root,
.MuiGrid-container,
.MuiGrid-spacing-xs-2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: flex-start;
}